[mackerel-agent]
Name = mackerel-agent
Version = 0.58.2
Author = mackerelio
Date = 2018-11-27
Shell = {{.InstallPath}}/run.sh
Install_Path = {{.InstallPath}}
QPKG_File = {{.InstallPath}}/DUMMY
Enable = TRUE
